.page-header {
  color: #097070;
}
.page-header .subheading {
  color: #790606;
  font-weight: bold;
}
.page-header .subheading p {
  background-color: #10cee7;
  color: #e912cc;
}
.page-header .subheading .subheading-link a {
  color: rgb(247, 14, 14);
  text-decoration: none;
}
.page-header .subheading .subheading-link a:hover {
  text-decoration: underline;
  color: purple;
}